@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Work Sans", sans-serif;
    background: url(./img/fondo.png) center / cover no-repeat, fixed;
}
a {
    text-decoration: none;
}

